<div class="popup-person"  id="popup-person">
    <span class="popup-person__bg"  data-fancybox-close>&nbsp;</span>
    <div class="popup-person__inner">
        <button class="popup-person__close" data-fancybox-close>
            <svg class="popup-person__close-icon icon icon-close" width="32" height="32">
                <use xlink:href="#icon-close"></use>
            </svg>
        </button>

        <div class="popup-person__cnt">
            <div class="popup-person__card-wrap">
                <div class="popup-person__card js-person-audio-play-trigger">
                    <img class="popup-person__img js-popup-person-img" src="img/answers/1_1.jpg" alt="Ольга Львова" width="280" height="375">

                    <span class="popup-person__card-logo-wrap">
                        <span class="popup-person__card-logo">
                            <img class="popup-person__card-logo-img popup-person__card-logo-img--def" src="img/svg/logo.svg" alt="LiPlayMyVoice logo 4" width="300" height="78">
                            <img class="popup-person__card-logo-img popup-person__card-logo-img--sasha" src="img/svg/sasha-spilberg.svg" alt="Саша спилберг" width="300" height="78">
                        </span>
                    </span>

                    <button class="popup-person__card-play" type="button">
                        <span class="popup-person__card-play-icon">
                            <svg class="icon icon-music" width="84" height="84">
                                <use xlink:href="#icon-music"></use>
                            </svg>
                        </span>
                    </button>

                </div>
            </div>

            <div class="popup-person__bottom">
                <div class="popup-person__bottom-qr">
                    <div class="popup-person__qr">
                        <img class="popup-person__qr-img js-popup-person-qr-img" src="img/qr.png" alt="qr code Instax" width="77" height="77">
                    </div>
                </div>

                <div class="popup-person__bottom-device">
                    <div class="popup-person__device">
                        <img class="popup-person__device-img" src="img/popup-device.png" alt="LiPlayMyVoice logo 3" width="122" height="182">
                    </div>
                </div>

                <div class="popup-person__bottom-bottom">
                    <a class="popup-person__logo" href="https://instaxmini.ru/" target="_blank">
                        <img class="popup-person__logo-img" src="img/svg/logo-mini.svg" alt="Instax mini liplay logo" width="100" height="55">
                    </a>
                </div>
        </div>

        </div>

    </div>
</div>
