$rem: 20;
$ff-verdana: Verdana, sans-serif;
$ff-king-basil: 'King Basil Lite', verdana, sans-serif;

$color-pink: #dda6a0;


@mixin retina-image($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}


@function px-to-rem($px) {
  @return ($px/$rem) + rem
}


@-webkit-keyframes jumpScrollIcon {
  0%{
    transform: translateY(0);
  }
  20%{
    transform: translateY(0);
  }
  40%{
    transform: translateY(-6px);
  }
  50%{
    transform: translateY(0);
  }
  60%{
    transform: translateY(-3px);
  }
  80%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(0);
  }
}


.hide-xs {
  @include media-breakpoint-down(xs) {
    display: none;
  }
}
.hide-sm {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
.hide-md {
  @include media-breakpoint-down(md) {
    display: none;
  }
}
.hide-lg {
  @include media-breakpoint-down(lg) {
    display: none;
  }
}
.hide-xl {
  @include media-breakpoint-down(xl) {
    display: none;
  }
}

.visible-xs {
  display: none;

  @include media-breakpoint-down(xs) {
    display: block;
  }
}
.visible-sm {
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}
.visible-md {
  display: none;

  @include media-breakpoint-down(md) {
    display: block;
  }
}
.visible-lg {
  display: none;

  @include media-breakpoint-down(lg) {
    display: block;
  }
}
.visible-xl {
  display: none;

  @include media-breakpoint-down(xl) {
    display: block;
  }
}


.text {
  line-height: 1.125;
  font-size: px-to-rem(20);
  font-weight: 400;
  font-style: normal;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.8em 0 0.4em;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }

  ul {
    margin: 1.5em 0 1.5em 20px;
    padding: 0;
  }
  ul:first-child {
    margin-top: 0;
  }
  ul:last-child {
    margin-bottom: 0;
  }
  ul li {
    margin-bottom: 0.8em;
  }
  ul li:last-child {
    margin-bottom: 0;
  }

  ol {
    margin: 1.5em 0 1.5em 20px;
    padding: 0;
  }
  ol:first-child {
    margin-top: 0;
  }
  ol:last-child {
    margin-bottom: 0;
  }
  ol li {
    margin-bottom: 1em;
  }
  ol li:last-child {
    margin-bottom: 0;
  }

  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }

  table {
    width: 100%;
    margin: 0 0 30px;
  }
  table:last-child {
    margin-bottom: 0;
  }

  th,
  td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1; }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  th:last-child,
  td:last-child {
    padding-right: 0; }
  th {
    font-weight: bold;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote::before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }

  @include media-breakpoint-down(sm) {
    font-size: 11px;
    line-height: 1.25;
  }
}



.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon-microphone {
  fill: #ffffff;
  width: px-to-rem(104);
  height: px-to-rem(104);
  filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, 0.25));

  @include media-breakpoint-down(sm) {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.35));
  }
}

.icon-heart {
  fill: #ffffff;
  width: px-to-rem(104);
  height: px-to-rem(104);
  filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, 0.25));

  @include media-breakpoint-down(sm) {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.35));
  }
}

.icon-circle {
  width: px-to-rem(315);
  height: px-to-rem(315);
  filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, 0.25));

  @include media-breakpoint-down(sm) {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.35));
  }
}

.icon-close {
  width: px-to-rem(32);
  height: px-to-rem(32);
  filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, 0.25));

  @include media-breakpoint-down(sm) {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.35));
  }
}

.icon-scroll {
  width: px-to-rem(28);
  height: px-to-rem(42);
  filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, 0.25));

  @include media-breakpoint-down(sm) {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.35));
  }
}

.icon-arrow-down {

  color: #fff;

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: px-to-rem(30);
    height: px-to-rem(30);
    border: 2px solid currentColor;
    transform: rotate(45deg);
    border-top: none;
    border-left: none;
    filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, 0.25));


  }

  @include media-breakpoint-down(sm) {
    &::before {
      width: 14px;
      height: 14px;

      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.35));
    }
  }
}

.icon-music {
  width: px-to-rem(84);
  height: px-to-rem(84);
}





.btn-play {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
  padding: 2px;
  text-decoration: none;
  outline: none;
  white-space: nowrap;
  color: #000000;
  border: 2px solid transparent;
  border-radius: px-to-rem(36);
  background: $color-pink;
  transition: background-color 0.2s;

  &:hover {
    text-decoration: none;
    color: #000000;
    background: $color-pink;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #ffffff;
    border-radius: px-to-rem(34);
    filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, 0.25));
    pointer-events: none;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: -2px 0 -2px -2px;
  }
  &__text {
    display: inline-block;
    vertical-align: middle;
    padding: px-to-rem(30) px-to-rem(70) px-to-rem(30) px-to-rem(40);
    line-height: 1.1;
    text-align: center;
    font-size: px-to-rem(28);
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);

  }


  @include media-breakpoint-down(sm) {
    border-radius: 18px;

    &::before {
      border-radius: 16px;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.35));
    }

    &__text {
      padding: 14px 28px 13px 16px;
      font-size: 13px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    }

    &__icon .icon {
      width: 44px;
      height: 44px;
    }
  }
}


.btn-inst {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
  padding: 2px;
  text-decoration: none;
  outline: none;
  white-space: nowrap;
  color: #fff;
  border: 2px solid transparent;
  border-radius: px-to-rem(36);
  background: $color-pink;
  transition: background-color 0.2s;
  &:hover {
    text-decoration: none;
    color: #ffffff;
    background: $color-pink;
  }

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border: none;
    border-radius: px-to-rem(34);
    box-shadow: 2px 2px 6px -2px rgba(0, 0, 0, 0.35) inset;
    pointer-events: none;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: -2px 0 -2px -2px;
  }
  &__text {
    display: inline-block;
    vertical-align: middle;
    padding: px-to-rem(10) px-to-rem(60) px-to-rem(10) px-to-rem(25);
    line-height: 1;
    text-align: center;
    font-size: px-to-rem(28);
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);

  }

  @include media-breakpoint-down(sm) {
    border-radius: 18px;

    &::before {
      border-radius: 16px;
      box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.35) inset;
    }

    &__text {
      padding: 7px 24px 7px 10px;
      font-size: 13px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    }

    &__icon .icon {
      width: 44px;
      height: 44px;
    }
  }
}



.overlay-loader {
  display: none;
  margin: auto;
  width: 50px;
  height: 50px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  -webkit-animation-name: rotateAnim;
  animation-name: rotateAnim;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.loader div {
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 0px solid #fff;
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.loader div:nth-child(odd) {
  border-top: none;
  border-left: none;
}
.loader div:nth-child(even) {
  border-bottom: none;
  border-right: none;
}
.loader div:nth-child(2) {
  border-width: 1px;
  left: 0px;
  top: -2px;
  width: 6px;
  height: 6px;
}
.loader div:nth-child(3) {
  border-width: 1px;
  left: -0px;
  top: 1px;
  width: 9px;
  height: 9px;
}
.loader div:nth-child(4) {
  border-width: 1px;
  left: -0px;
  top: -2px;
  width: 12px;
  height: 12px;
}
.loader div:nth-child(5) {
  border-width: 1px;
  left: -0px;
  top: 2px;
  width: 16px;
  height: 16px;
}
.loader div:nth-child(6) {
  border-width: 2px;
  left: 0px;
  top: -2px;
  width: 20px;
  height: 20px;
}
.loader div:nth-child(7) {
  border-width: 2px;
  left: 0px;
  top: 3px;
  width: 25px;
  height: 25px;
}

.btn-loader  {
  position: relative;
  color: transparent;
  -webkit-transition: color 0s;
  -o-transition: color 0s;
  transition: color 0s;
}
.btn-loader .overlay-loader {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}


@-webkit-keyframes rotateAnim {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}


@keyframes rotateAnim {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}








.scroll-down {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: #ffffff;
  transition: 0.2s;
  opacity: 0.8;

  cursor: pointer;



  &:hover,
  &:active {
    opacity: 1;
  }

  &--jump {
    animation: jumpScrollIcon 1.5s ease 0s infinite normal ;

    &:hover,
    &:active {
      animation-play-state:paused;
    }
  }


}


