@import '_libs';

@import '_fonts';
@import '_ui';


body {
  min-width: 320px;
  font-family: $ff-verdana;
  font-size: 20px;
  line-height: 1.125;
  color: #000000;
  background: $color-pink;
}

html,
body {
  font-size: 14px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}


@media (min-width: 1400px) and (min-height: 700px) {
  html,body {
    font-size: 16px
  }
}

@media (min-width: 1601px) and (min-height: 850px) {
  html,body {
    font-size: 18px
  }
}

@media (min-width: 1890px) and (min-height: 930px) {
  html,body {
    font-size: 20px
  }
}


img,
frame {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: px-to-rem(1635);
  }
}


.wrapper {
  position: relative;
}

.section {



}
.section-anim-inner {
  opacity: 1;
  transform: translate(0, 0) scale(0.8);

  transition: opacity 0.5s, transform 0.5s;

  .section.active & {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }

}

#pp-nav {
  display: none;
}
.logo-block {
  position: absolute;
  z-index: 1;
  bottom: 3%;
  left: 50%;
  width: px-to-rem(220);
  margin: 0 0 0 px-to-rem(-110);
  text-decoration: none;

  &__img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: auto;
  }

  &__scroll {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: px-to-rem(-2) 0 0;
    text-align: center;

    &-icon {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }
  }


  @media (min-width: 1400px) and (min-height: 700px) {
    bottom: 5%;
  }

  @include media-breakpoint-down(md) {
    bottom: 25vh;

    &--s-answers {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    width: 92px;
    margin-left: -42px;

    &--s-cameras {
      bottom: 4vh;
    }
  }


  @media (max-width: 767.98px) and (max-height: 550px) {
    bottom: 115px;

    &--s-cameras {
      bottom: 20px;
    }
  }

  @media (max-width: 767.98px) and (max-height: 480px) {
    bottom: 110px;
    width: 64px;
    margin-left: -32px;

    &--s-cameras {
      bottom: 20px;
    }

  }
}


.go-to {
  position: absolute;
  z-index: 1;
  bottom: 20%;
  left: 0;
  width: 100%;

  &--bottom {
    bottom: 3%;
  }
  &--s-cameras {
    z-index: 1;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: px-to-rem(1470);
    margin: 0 auto;
  }

  &__line {
    position: absolute;
    top: px-to-rem(31);
    left: px-to-rem(290);
    width: px-to-rem(797);
    height: px-to-rem(273);
    background: url(../img/svg/go-line.svg) 0 0 no-repeat;
    background-size: px-to-rem(797) px-to-rem(273);
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.35));
    pointer-events: none;
  }

  &__text {
    width: px-to-rem(390);

    &-img {
      width: 100%;
      height: auto;
      filter: drop-shadow( 2px 2px 6px rgba(0, 0, 0, 0.35));
    }
  }

  &__btn {
    padding: 5px 0 0;
    margin-left: auto;
    position: relative;
  }

  &__scroll {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: px-to-rem(-2) 0 0;
    text-align: center;

    &-icon {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }
  }

  @media (min-width: 1400px) and (min-height: 700px) {
    &--bottom {
      bottom: 5%;
    }

  }

  @include media-breakpoint-down(md) {

    position: absolute;
    z-index: 0;
    bottom: 4vh;

    &--s-cameras {
      z-index: 1;
    }

    &--s-answers {
      display: none;
    }



    &__inner {
      z-index: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 165px;
    }

    &__line {
      top: auto;
      bottom: -42px;
      left: 50%;
      margin-left: -338px;
      width: 680px;
      height: 630px;
      background: url(../img/svg/go-line-mob.svg) 0 0 no-repeat;
      background-size: contain;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.35));
    }

    &__text {
      position: relative;
      width: 280px;
      margin: 0;
    }

    &__btn {
      position: relative;
      margin: 0;
      padding: 0;
    }
  }


  @include media-breakpoint-down(sm) {
    bottom: 4vh;

    &--s-cameras {
      bottom: auto;
      top: 3vh;
    }

    &__inner {
      height: 105px;
    }

    &__line {
      bottom: -23px;
      left: 50%;
      margin-left: -210px;
      width: 420px;
      height: 390px;
    }

    &__text {
      width: 165px;

      &-line {
        left: 76%;
        width: 119px;
        height: 116px;
        background-size: 119px 116px;
      }
    }

    &__btn {

      &-line {
        bottom: 5vh;
        left: -86px;
        width: 385px;
        height: 407px;

        background-size: 455px 156px;
        background-size: contain;
      }
    }
  }

  @media (max-width: 767.98px) and (max-height: 550px) {
    bottom: 6px;

    &--s-cameras {
      bottom: auto;
    }

    &__scroll {
      margin-top: -15px;
    }

  }

  @media (max-width: 767.98px) and (max-height: 490px) {
    &--s-cameras {
      top: 0;
    }
  }

}


.s-top {
  position: relative;
  overflow: hidden;
  background: $color-pink;

  &__inner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;

    &-cnt {
      width: 100%;
    }
  }

  &__block {
    position: relative;
    margin: -2rem 0 0;
    text-align: center;

    &-logo {
      text-align: center;
      display: block;

    }

    &-cam {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }


  &__logo {
    display: inline-block;
    vertical-align: middle;
    width: px-to-rem(1630);

    &-img {
      width: 100%;
      height: auto;
    }
  }


  &__cam {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    width: px_to_rem(269);
    height: px_to_rem(404);

    &-device {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      &-item {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0s;

        @for $i from 1 through 2 {
          .s-top__cam-device[data-stage="#{$i}"] &--#{$i} {
            opacity: 1;
          }
        }

        @for $i from 1 through 2 {
          &--#{$i} {
            background-image: url('../img/sec-top-cam-device-' + $i + '.png');;
            @include retina-image('../img/sec-top-cam-device-' + $i + '.png', px-to-rem(269), px-to-rem(404))
          }
        }

      }
    }

    &-display {
      position: absolute;
      z-index: 2;
      top: 4.3rem;
      left: 2.26rem;
      width: px_to_rem(138);
      height: px_to_rem(187);

      &-item {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.05s;

        @for $i from 1 through 5 {
          .s-top__cam-display[data-stage="#{$i}"] &--#{$i} {
            opacity: 1;
          }
        }

        @for $i from 1 through 5 {
          &--#{$i} {
            background-image: url('../img/sec-top-cam-display-' + $i + '.png');
            @include retina-image('../img/sec-top-cam-display-' + $i + '.png', px-to-rem(138), px-to-rem(187))
          }
        }

      }
    }

    &-result {
      position: absolute;
      z-index: 0;
      opacity: 0;
      top: 0.1rem;
      left: 2.2rem;
      width: px_to_rem(179);
      height: px_to_rem(278);
      background: url(../img/sec-top-cam-result.png) 0 0 no-repeat;
      background-size: contain;
      @include retina-image('../img/sec-top-cam-result.png', px-to-rem(179), px-to-rem(278));

      transition: 0.1s;

      @for $i from 1 through 4 {
        &[data-stage="#{$i}"] {
          opacity: 1;
          transform: translateY(px-to-rem(-$i * 50));
        }
      }
    }
  }

  &__sasha {
    position: absolute;
    z-index: 0;
    top: 1.5%;
    right: 10%;
    width: px-to-rem(270);
    margin: 0;
    text-decoration: none;

    &-img {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: auto;
    }
  }

  &__sasha-mark {
    position: absolute;
    z-index: 0;
    top: 18.5%;
    right: 29.5%;
    width: px-to-rem(150);
    margin: 0;
    text-decoration: none;

    &-img {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: auto;
    }
  }
  

  @include media-breakpoint-down(lg) {
    &__logo {
      width: 100%;
    }

  }

  @include media-breakpoint-down(md) {
    &__inner {
      z-index: 0;
      align-items: flex-start;
    }

    &__block {
      position: relative;
      z-index: 1;
      height: 60vh;
      padding: 3vh 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;

      &-cam {
        position: static;
        transform: none;
      }
    }


    &__logo {
      width: 70%;
    }

    &__sasha {
      top: 25%;
      right: auto;
      left: 10%;
      width: 150px;
    }

    &__sasha-mark {
      top: 20%;
      right: 10%;
      width: 140px;
    }


  }


  @include media-breakpoint-down(sm) {
    &__block {
      position: relative;
      z-index: 1;
      height: 320px;
    }

    &__logo {
      width: 260px;
    }
    &__cam {

      width: 115px;
      height: 172px;

      &-device {
        &-item {
          background-size: contain;
        }
      }

      &-display {
        top: 35px;
        left: 19px;
        width: 60px;
        height: 85px;

        &-item {
          background-size: contain;

        }
      }

      &-result {
        top: 1px;
        left: 20px;
        width: 76px;
        height: 118px;

        background-size: contain;

        @for $i from 1 through 4 {
          &[data-stage="#{$i}"] {
            opacity: 1;
            transform: translateY($i * -20px);
          }
        }
      }
    }

    &__sasha {
      top: 20%;
      right: auto;
      left: 13%;
      width: 70px;
    }

    &__sasha-mark {
      top: 16%;
      right: 13%;
      width: 60px;
    }
  }


  @media (max-width: 767.98px) and (max-height: 550px) {
    &__block {
      height: 300px;
    }

  }

  @media (max-width: 767.98px) and (max-height: 480px) {
    &__block {
      height: 290px;
    }
  }







}




.s-cameras {
  position: relative;
  overflow: hidden;
  background: $color-pink;

  &__inner {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;

    &-cnt {
      width: 100%;
    }
  }

  &__block {
    position: relative;
    margin: -5rem 0 0;
    text-align: center;

    &-img {
      &-wrap {
        display: block;
        text-align: center;
        margin: 0 0 px-to-rem(40);
      }

      display: inline-block;
      vertical-align: middle;
      max-width: px-to-rem(1128);
      height: auto;
    }

    &-text {
      display: block;
      margin: 0 auto;
      max-width: px-to-rem(690);

    }
  }

  &__line-left {
    position: absolute;
    z-index: 0;
    top: 0;
    left: -1px;
    width: px-to-rem(328);
    height: px-to-rem(627);
    background: url(../img/svg/sec-cameras-line-left.svg) 0 0 no-repeat;
    background-size: px-to-rem(328) px-to-rem(627);
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.35));
    pointer-events: none;
  }

  &__line-left-bottom {
    display: none;
  }

  &__line-right {
    position: absolute;
    z-index: 0;
    top: 0;
    right: -1px;
    width: px-to-rem(210);
    height: px-to-rem(938);
    background: url(../img/svg/sec-cameras-line-right.svg)  100% 0 no-repeat;
    background-size: cover;
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.35));
    pointer-events: none;
  }

  @media (min-width: 1400px) and (min-height: 700px) {
    &-img {
      &-wrap {
        margin: 0 0 px-to-rem(80);
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__block {
      margin: -11rem 0 0;
    }
  }

  @include media-breakpoint-down(sm) {
    &__block {
      margin: 0;

      &-text {
        max-width: 215px;
      }
    }

    &__line-left {
      top: -10px;
      left: -1px;
      width: 119px;
      height: 267px;
      background: url(../img/svg/sec-cameras-line-left-mob.svg) 0 0 no-repeat;
      background-size: 119px 267px;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.35));
    }

    &__line-left-bottom {
      display: block;
      position: absolute;
      z-index: 0;
      left: -1px;
      bottom: -1px;
      width: 82px;
      height: 178px;
      background: url(../img/svg/sec-cameras-line-left-bottom-mob.svg) 0 0 no-repeat;
      background-size: 82px 178px;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.35));
      pointer-events: none;
    }

    &__line-right {

      top: auto;
      bottom: 10px;
      right: -1px;
      width: 63px;
      height: 367px;
      background: url(../img/svg/sec-cameras-line-right-mob.svg)  100% 0 no-repeat;
      background-size: cover;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.35));
    }
  }

}


.s-answers {
  position: relative;
  overflow: hidden;
  background: $color-pink;

  &__inner {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;

    &-cnt {
      width: 100%;
    }
  }


  &__block {
    position: relative;
    margin: -6rem 0 0;

    &-top {
      display: block;
      margin: 0 0 px-to-rem(80);
    }

    &-main {
      min-height: px-to-rem(400);
    }
  }


  &__top {
    &-logo {
      display: block;
      margin: 0 auto px-to-rem(35);
      width: px-to-rem(650);
      text-align: center;

      &-img {
        display: inline-block;
        vertical-align: middle;
        height: auto;
        width: 100%;
      }
    }

    &-text {
      display: block;
      margin: 0 auto;
      max-width: px-to-rem(1120);
      text-align: center;
    }
  }


  &__text {
    &-items {
      position: relative;
    }

    &-item {
      position: absolute;
      opacity: 0;
      z-index: 0;
      transition: opacity 0.3s;

      @for $i from 1 through 6 {
        .s-answers[data-stage="#{$i}"] &--#{$i} {
          opacity: 1;
          z-index: 1;
        }
      }


    }

    &-box {
      max-width: px-to-rem(520);

      &-title {
        display: block;
        min-height: 2.6em;
        margin: 0 0 1.5rem;
        font-size: px-to-rem(28);
        font-weight: 700;
        font-style: normal;
      }

      &-main {

      }
    }

  }

  &__circle {
    &-wrap {
      text-align: center;
    }

    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: px-to-rem(315);
    height: px-to-rem(315);

    &-icon {
      transition: transform 0.3s;

      @for $i from 1 through 6 {
        .s-answers[data-stage="#{$i}"] & {
          transform: rotate(($i - 1) * 60deg);
        }
      }

    }

    &-items {

    }

    &-item {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      z-index: 0;
      transition: opacity 0.3s;


      @for $i from 1 through 6 {
        .s-answers[data-stage="#{$i}"] &--#{$i} {
          opacity: 1;
          z-index: 1;
        }
      }
    }

    &-text {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &-inner {
        display: block;
        margin: 0;
        padding: 1rem px-to-rem(50) 1rem px-to-rem(70);
        text-align: left;
        font-size: px-to-rem(28);
        font-weight: 700;
        font-style: normal;
      }
    }


    &-scroll {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      margin: px-to-rem(-2) 0 0;
      text-align: center;

      &-icon {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
      }
    }
  }


  &__people {
    position: relative;

    &-items {
    }

    &-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      z-index: 0;
      transition: opacity 0.3s;


      @for $i from 1 through 6 {
        .s-answers[data-stage="#{$i}"] &--#{$i} {
          opacity: 1;
          z-index: 1;
        }
      }
    }
  }


  &__cards {
    position: relative;

  }

  &__card {
    position: absolute;
    display: inline-block;
    width: px-to-rem(264);
    height: px-to-rem(410);
    padding: px-to-rem(35) px-to-rem(20) px-to-rem(75);
    background: #ebefee;
    border-radius: 6px;
    left: 50%;
    top: 0;
    margin: px-to-rem(-50) 0 0 px-to-rem(-132);
    cursor: pointer;
    transition: transform 0.5s, opacity 0.3s, top 0.7s;


    @mixin answersCardState-1 {
      z-index: 1;
      transform: translate(0, 0) scale(1);

      &.hover {
        z-index: 2;
        opacity: 1;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, .25);
      }
    }

    @mixin answersCardState-2 {
      z-index: 0;
      transform: translate(px-to-rem(150), px-to-rem(0)) scale(0.65);
      opacity: 0.7;

      &.hover {
        z-index: 2;
        opacity: 1;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, .25);
      }
    }

    @mixin answersCardState-3 {
      z-index: 0;
      transform: translate(px-to-rem(-150), px-to-rem(0)) scale(0.65);
      opacity: 0.7;

      &.hover {
        z-index: 2;
        opacity: 1;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, .25);
      }
    }

    .s-answers__cards[data-stage="1"] &--1 {
      @include answersCardState-1;
    }
    .s-answers__cards[data-stage="1"] &--2 {
      @include answersCardState-2;
    }
    .s-answers__cards[data-stage="1"] &--3 {
      @include answersCardState-3;
    }


    .s-answers__cards[data-stage="2"] &--1 {
      @include answersCardState-3;
    }
    .s-answers__cards[data-stage="2"] &--2 {
      @include answersCardState-1;
    }
    .s-answers__cards[data-stage="2"] &--3 {
      @include answersCardState-2;
    }


    .s-answers__cards[data-stage="3"] &--1 {
      @include answersCardState-2;
    }
    .s-answers__cards[data-stage="3"] &--2 {
      @include answersCardState-3;
    }
    .s-answers__cards[data-stage="3"] &--3 {
      @include answersCardState-1;
    }


    &-img {
      max-width: 100%;
      height: auto;
      display: inline-block;
      vertical-align: middle;
      transition: transform 0.1s 0.1s;

      .s-answers__card.hover & {
        transform: scale(1.03);
      }
    }


    &-play-icon {
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.7);
      margin: 0;
      padding: 0;
      opacity: 0;
      background: none;
      border: none;
      outline: none;
      box-shadow: none;
      cursor: pointer;
      transition: transform 0.2s, opacity 0.2s;
      pointer-events: none;

      .s-answers__card.hover & {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }

      .s-answers__card:active & {
        transform: translate(-50%, -50%) scale(1.1);
      }

    }
  }


  &__line-left {
    position: absolute;
    z-index: 0;
    bottom: -2px;
    left: -1px;
    width: px-to-rem(397);
    height: px-to-rem(348);
    background: url(../img/svg/sec-answers-line-left.svg) 0 0 no-repeat;
    background-size: px-to-rem(397) px-to-rem(348);
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.35));
    pointer-events: none;
  }

  &__line-right {
    position: absolute;
    z-index: 0;
    top: 0;
    right: -1px;
    width: px-to-rem(507);
    height: px-to-rem(1204);
    background: url(../img/svg/sec-answers-line-right.svg) 100% 0 no-repeat;
    background-size: cover;
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.35));
    pointer-events: none;
  }


  @media (min-width: 1400px) and (min-height: 700px) {
    &__block {
      &-top {
        margin-bottom: px-to-rem(100);
      }
    }

    &__top {
      &-logo {
        margin-bottom: px-to-rem(50);
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__block {
      margin: -1rem 0 0;
    }

    &__text {
      &-items {
        min-height: 200px;
      }

      &-item {
        width: 100%;
      }

      &-box {
        margin: 0 auto;
        text-align: center;

        &-title {
          min-height: 10px;
          font-size: 16px;
          margin: 0 0 10px;
        }
      }
    }


    &__people {
      min-height: 260px;
      margin-bottom: 3vh;
    }


    &__line-left {
      bottom: -2px;
      left: -1px;
      width: 225px;
      height: 197px;
      background-size: contain;
    }

    &__line-right {
      top: 0;
      right: -1px;
      width: 235px;
      height: 559px;
      background-size: contain;
    }

  }



  @mixin answersCardStateSm-1 {
    z-index: 1;
    transform: translate(0, 0) scale(1);

    &.hover {
      z-index: 2;
      opacity: 1;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    }
  }

  @mixin answersCardStateSm-2 {
    z-index: 0;
    transform: translate(50px, 0) scale(0.65);
    opacity: 0.7;

    &.hover {
      z-index: 2;
      opacity: 1;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    }
  }

  @mixin answersCardStateSm-3 {
    z-index: 0;
    transform: translate(-50px, 0) scale(0.65);
    opacity: 0.7;

    &.hover {
      z-index: 2;
      opacity: 1;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    }
  }

  @include media-breakpoint-down(sm) {
    &__block {
      margin: 0;

      &-top {
        display: block;
        margin-bottom: 2vh;
      }

      &-main {

      }
    }


    &__top {
      &-logo {
        margin: 0 auto 10px;
        width: 260px;
      }
    }

    &__text {
      &-items {
        min-height: 80px;
        margin-bottom: 2vh;
      }

      &-box {
        &-title {
          font-size: 13px;
        }
      }
    }

    &__people {
      min-height: 140px;
      margin-bottom: 2vh;

      &-items {
      }

      &-item {

      }
    }

    &__card {
      width: 90px;
      height: 140px;
      padding: 10px 5px 25px 5px;
      border-radius: 3px;
      margin: 0 0 0 -45px;

      .s-answers__cards[data-stage="1"] &--1 {
        @include answersCardStateSm-1;
      }
      .s-answers__cards[data-stage="1"] &--2 {
        @include answersCardStateSm-2;
      }
      .s-answers__cards[data-stage="1"] &--3 {
        @include answersCardStateSm-3;
      }


      .s-answers__cards[data-stage="2"] &--1 {
        @include answersCardStateSm-3;
      }
      .s-answers__cards[data-stage="2"] &--2 {
        @include answersCardStateSm-1;
      }
      .s-answers__cards[data-stage="2"] &--3 {
        @include answersCardStateSm-2;
      }


      .s-answers__cards[data-stage="3"] &--1 {
        @include answersCardStateSm-2;
      }
      .s-answers__cards[data-stage="3"] &--2 {
        @include answersCardStateSm-3;
      }
      .s-answers__cards[data-stage="3"] &--3 {
        @include answersCardStateSm-1;
      }

      &-play-icon {
        .icon {
          width: 30px;
          height: 30px;
        }
      }
    }


    &__circle {
      &-wrap {
        text-align: center;
      }

      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 142px;
      height: 142px;

      &-icon {
        .icon-circle {
          width: 142px;
          height: 142px;
        }
      }

      &-items {

      }

      &-item {

      }

      &-text {

        &-inner {
          display: block;
          margin: 0;
          padding: 10px 20px 10px 30px;
          text-align: left;
          font-size: 13px;
          font-style: normal;
        }
      }
    }

    &__line-left {
      width: 100%;
      height: 400px;
      background: url(../img/svg/sec-answers-line-left-mob.svg) 0 100% no-repeat;
      background-size: contain;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.35));
    }

    &__line-right {
      top: -12px;
      right: -1px;
      width: 156px;
      height: 270px;
      background: url(../img/svg/sec-answers-line-right-mob.svg) 100% 0 no-repeat;
      background-size: contain;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.35));
    }
  }


  @include media-breakpoint-down(xs) {
    &__line-left {
      height: 260px;
    }

    &__line-right {
      top: 24%;
      right: -1px;
      width: 125px;
      height: 287px;
    }
  }

  @media (max-width: 767.98px) and (max-height: 550px) {
    &__block {
      margin: 0;

      &-top {
        margin-bottom: 8px;
      }

      &-main {

      }
    }


    &__top {
      &-logo {
        margin: 0 auto 5px;
        width: 230px;
      }
    }

    &__text {
      &-items {
        //min-height: 80px;
        margin-bottom: 2px;
      }

      &-box {
        &-title {
          margin-bottom: 5px;
        }
      }
    }

    &__people {
      margin-bottom: 8px;
    }
  }

  @media (max-width: 767.98px) and (max-height: 510px) {
    &__top {
      &-logo {
        display: none;
      }
    }
  }
}




.s-inst {
  position: relative;
  overflow: hidden;

  background: #ffffff;
  color: #000000;

  &__inner {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;

    &-cnt {
      width: 100%;
    }
  }


  &__block {
    position: relative;
    margin: -6rem 0 0;

    &-top {
      display: block;
      margin: 0 0 px-to-rem(30);
    }

    &-main {
      margin: 0 0 px-to-rem(10);
    }

    &-bottom {
      margin: 0;
      text-align: center;
    }

  }


  &__top {
    &-logo {
      display: block;
      width: px-to-rem(750);
      margin: 0 auto;
      text-align: center;

      &-img {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: auto;
      }
    }
  }

  &__images {
    max-width: px-to-rem(1120);
    margin: 0 auto;
    pointer-events: none;
  }

  @media (min-height: 700px) {
    &__block {
      &-top {
        margin-bottom: px-to-rem(40);
      }
    }

    &__top {
      &-logo {
        width: px-to-rem(880);
      }
    }
  }

  @media (min-height: 800px) {
    &__block {
      &-main {
        margin-bottom: px-to-rem(50);
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__block {

      &-top {
        display: block;
        margin: 0 0 20px;
      }

      &-main {
        margin: 0 0 -10px;
      }
    }

    &__top {
      &-logo {
        width: 360px;

      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__block {
      position: relative;
      margin: -7rem 0 0;

      &-top {
        display: block;
        margin: 0 0 10px;
      }

      &-main {
        margin: 0 0 -10px;
      }
    }

    &__top {
      &-logo {
        width: 260px;

      }
    }

    &__images {
      max-width: 320px;
    }
  }

  @media (max-width: 767.98px) and (max-height: 650px) {
    &__top-logo {
      width: 230px;
    }
    &__images {
      max-width: 300px;
    }
  }

  @media (max-width: 767.98px) and (max-height: 520px) {

    &__top-logo {
      width: 210px;
    }

    &__block {
      margin: -6rem 0 0;

      &-top {
        margin-bottom: 5px;
      }
      &-main {
        margin: 0 0 -35px;
      }
    }

  }

  @media (max-width: 767.98px) and (max-height: 480px) {
    &__top-logo {
      width: 140px;
    }
  }




  }

.footer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: px-to-rem(35) 0 px-to-rem(40);
  background: $color-pink;
  box-shadow: 0 21px 24px -18px rgba(0, 0, 0, 0.3) inset;

  &__row {
    align-items: flex-end;

  }

  &__logo {
    display: block;
    width: px-to-rem(220);
    max-width: 100%;

    &-img {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: auto;
    }
  }

  &__copy {
    margin: 0;
    font-size: px-to-rem(16);
    text-align: center;
  }

  &__line-left {
    display: none;
    background: none;
  }
  &__line-right {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -1px;
    width: px-to-rem(370);
    height: px-to-rem(118);
    background: url(../img/svg/footer-line-right.svg) 100% 0 no-repeat;
    background-size: px-to-rem(370) px-to-rem(118);
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.35));
    pointer-events: none;
  }

  @media (max-height: 1000px) {
    padding: px-to-rem(30) 0 px-to-rem(35);
  }

  @include media-breakpoint-down(md) {
    padding: 15px 0 14px;
    box-shadow: 0 11px 14px -11px rgba(0,0,0,.3) inset;

    &__logo {
      width: 90px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__logo {
      width: 90px;
      margin: 0 auto 2vh;
    }

    &__copy {
      font-size: 9px;
    }


      &__line-right {
      position: absolute;
      z-index: 0;
      top: -1px;
      bottom: auto;
      right: -1px;
      width: 106px;
      height: 28px;
      background: url(../img/svg/footer-line-right-mob.svg) 100% 0 no-repeat;
      background-size: 106px 28px;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.35));
      pointer-events: none;
    }

    &__line-left {
      display: block;
      position: absolute;
      z-index: 0;
      bottom: 0;
      left: -1px;
      width: 38px;
      height: 72px;
      background: url(../img/svg/footer-line-left-mob.svg) 100% 0 no-repeat;
      background-size: 38px 72px;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.35));
      pointer-events: none;
    }


  }

  @media (max-width: 767.98px) and (max-height: 650px) {
    padding: 8px 0 6px;
  }
  @media (max-width: 767.98px) and (max-height: 510px) {
    &__logo {
      width: 80px;
      margin: 0 auto 8px;
    }
  }



}





.popup-person {
  &-wrap {
    & .fancybox {

      &-bg {
        background: none;
      }

      &-content {
        background: none;
        color: #ffffff;
      }

      &-close-small {
        display: none;
      }

      &-slide {
        padding: 0;
      }
    }
  }


  display: none;
  position: relative;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding: px-to-rem(20);

  &__bg {
    position: absolute;
    z-index: 0;
    background: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: $color-pink;

    &--shadow {
      box-shadow: 0px 3px 24.92px 3.08px rgba(0, 0, 0, 0.3);
    }
  }

  &__close {
    display: inline-block;

    position: absolute;
    right: 3%;
    top: 3%;
    width: px-to-rem(64);
    height: px-to-rem(64);
    margin: 0;
    padding: 0;
    background: none;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: opacity 0.2;

    &:hover {
      opacity: 0.7;
    }

    &-icon {
      position: absolute;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__cnt {
    text-align: center;
  }

  &__card {
    &-wrap {
      margin: 0 0 px-to-rem(20);
    }

    position: relative;
    width: px-to-rem(280);
    height: px-to-rem(420);
    margin: 0;
    padding: px-to-rem(25) px-to-rem(20) px-to-rem(40);
    background: #e5ebe9;
    border-radius: 6px;

    .popup-person--playing & {
      pointer-events: none;
    }

    &-img {
      max-width: 100%;
      height: auto;
      display: inline-block;
      vertical-align: middle;



    }


    &-logo {
      &-wrap {
        position: absolute;
        right: px-to-rem(10);
        bottom: px-to-rem(10);
        left: px-to-rem(10);
        text-align: center;
      }


      width: 100%;
      display: inline-block;
      vertical-align: middle;


      &-img {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: auto;


        &--def {
          display: inline-block;

          .popup-person--sasha & {
            display: none;
          }
        }


        &--sasha {
          display: none;

          .popup-person--sasha & {
            display: inline-block;
          }
        }


      }
    }

    &-play {
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      outline: none;
      box-shadow: none;
      cursor: pointer;
      transition: transform 0.1s, opacity 0.1s;

      .popup-person__card:hover & {
        transform: translate(-50%, -50%) scale(1.1);
      }
      .popup-person__card:active &{
        transform: translate(-50%, -50%) scale(1.2);
      }

      .popup-person--playing & {
        opacity: 0.3;
      }


    }

  }



  &__bottom {

    &-qr {
      margin: 0 0 px-to-rem(6);
    }
    &-device {
      margin: 0 0 px-to-rem(20);
    }
  }

  &__qr {
    display: inline-block;
    vertical-align: middle;
    width: px-to-rem(77);

    &-img {
      display: inline-block;
      vertical-align: middle;
      width: 120%;
      max-width: 120%;
      height: auto;
      margin: -10%;
    }
  }

  &__device {
    display: inline-block;
    vertical-align: middle;
    width: px-to-rem(122);

    &-img {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: auto;
    }
  }

  &__logo {
    display: inline-block;
    vertical-align: middle;
    width: px-to-rem(100);

    &-img {

      width: 100%;
      height: auto;
    }
  }


  @media (min-height: 700px) {
    &__card {
      &-wrap {
        margin: 0 0 px-to-rem(40);
      }
    }

    &__device {
      &-img {
        width: px-to-rem(122);
      }
    }

    &__logo {
      display: inline-block;
      vertical-align: middle;
      width: 80px;
    }
  }


  @media (min-height: 800px) {

  }

  @media (min-height: 900px) {
    &__card {
      &-wrap {
        margin: 0 0 px-to-rem(40);
      }

      width: px-to-rem(320);
      height: px-to-rem(510);
      padding: px-to-rem(45) px-to-rem(25) px-to-rem(95);
      border-radius: 8px;

      &-logo {
        &-wrap {
          bottom: px-to-rem(20);
        }
      }
    }
  }

  @media (min-height: 1000px) {
    &__card {
      &-wrap {
        margin: 0 0 px-to-rem(70);
      }
    }
  }

  @include media-breakpoint-down(sm) {

    &__inner {
      &--shadow {
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
      }
    }

    &__bottom {

      &-qr {
        margin: 0 0 3px;
      }
      &-device {
        margin: 0 0 10px;
      }
    }

    &__card {
      &-wrap {
        margin: 0 0 4vh;
      }

      width: 165px;
      height: 260px;
      padding: 20px 10px 45px;
      border-radius: 4px;

      &-logo {
        &-wrap {
          bottom: 5px;
        }
      }

      &-play {
       .icon {
          width: 40px;
          height: 40px;
       }
      }
    }

    &__qr {
      width: 40px;

    }
    &__device {
      &-img {
        width: 62px;
      }
    }

    &__logo {
      width: 50px;

    }


  }

  @media (max-width: 767.98px) and (max-height: 490px) {
    padding: 10px;

    &__card {
      &-wrap {
        margin: 0 0 10px;
      }
    }

    &__bottom {
      &-device {
        margin: 0 0 4px;
      }
    }
  }

}

.warning-rotate {
  display: none;
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: #252525;

  &__inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
  }
}
@media screen and (orientation: landscape) and (max-width: 991.98px) and (max-height: 550px) {
  .warning-rotate {
    display: block;
  }
}

.js-goto-link {
  cursor: pointer;
}






@import '_media';

