
//= templates/header-inner.html
<style> .preloader-overlay {position: fixed;z-index: 10;top: 0;left: 0;width: 100%;height: 100%;overflow: hidden;background: #dda59f;}  .page-load .preloader-overlay {opacity: 0;top: -100%;-webkit-transition: all 0s, opacity 0.5s, top 0.5s 0.5s;-o-transition: all 0s, opacity 0.5s, top 0.5s 0.5s;transition: all 0s, opacity 0.5s, top 0.5s 0.5s;}  .page-load .preloader-overlay .preloader-icon-wrapper {-webkit-transform: translate(-50%, -70%);-ms-transform: translate(-50%, -70%);-o-transform: translate(-50%, -70%);transform: translate(-50%, -70%);opacity: 0;-webkit-transition: 0.75s;-o-transition: 0.75s;transition: 0.75s}  .preloader-icon-wrapper{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}  .preloader-icon{animation: pulse-preloader 2s infinite;width: 11rem;}  .preloader-icon__img {width: 100%;height: auto;}  @keyframes pulse-preloader{ 0%{transform: scale(0.5);} 50%{transform: scale(1);} 100%{transform: scale(0.5);} }  @media (max-width: 767.98px) {  .preloader-icon {width: 100px;}  }</style>
<div class="preloader-overlay">
    <div class="preloader-icon-wrapper">
        <div class="preloader-icon">
            <img class="preloader-icon__img" src="img/svg/logo-mini.svg" alt="Instax mini liplay logo" width="220" height="121">
        </div>
    </div>
</div>

<div class="pagepiling">
    <div class="section" id="top">
        <section class="s-top">

            <div class="s-top__inner section-anim-inner">
                 <div class="s-top__inner-cnt">
                     <div class="container">
                        <div class="s-top__block">
                            <div class="s-top__block-logo">
                                <a class="s-top__logo" href="https://instaxmini.ru/camera/instax-mini-liplay/" target="_blank">
                                    <img class="s-top__logo-img" src="img/svg/logo.svg" alt="LiPlayMyVoice logo" width="1630" height="376">
                                </a>
                            </div>

                            <div class="s-top__block-cam">
                                <div class="s-top__cam">
                                    <span class="s-top__cam-device" data-stage="0">
                                        <span class="s-top__cam-device-item s-top__cam-device-item--1">&nbsp;</span>
                                        <span class="s-top__cam-device-item s-top__cam-device-item--2">&nbsp;</span>
                                    </span>

                                    <span class="s-top__cam-display" data-stage="0">
                                        <span class="s-top__cam-display-item s-top__cam-display-item--1">&nbsp;</span>
                                        <span class="s-top__cam-display-item s-top__cam-display-item--2">&nbsp;</span>
                                        <span class="s-top__cam-display-item s-top__cam-display-item--3">&nbsp;</span>
                                        <span class="s-top__cam-display-item s-top__cam-display-item--4">&nbsp;</span>
                                        <span class="s-top__cam-display-item s-top__cam-display-item--5">&nbsp;</span>
                                    </span>

                                    <span class="s-top__cam-result" data-stage="0">&nbsp;</span>
                                </div>
                            </div>

                        </div>


                     </div>
                 </div>

                <div class="go-to">
                    <div class="go-to__inner">
                        <a class="go-to__text" href="https://instaxmini.ru/camera/instax-mini-liplay/" target="_blank">
                            <img class="go-to__text-img" src="img/svg/go-to-text.svg" alt="Перейти в магазин" width="390" height="86">
                        </a>
                        <span class="go-to__line">&nbsp;</span>

                        <div class="go-to__btn">
                            <a class="btn-play" href="https://instaxmini.ru/camera/instax-mini-liplay/" target="_blank">
                             <span class="btn-play__icon">
                                 <svg class="icon icon-microphone" width="104" height="104">
                                    <use xlink:href="#icon-microphone"></use>
                                </svg>
                             </span>
                                <span class="btn-play__text">LiPlay me</span>
                            </a>

                            <span class="go-to__scroll visible-md">
                                <span class="go-to__scroll-icon js-next-page-slide">
                                    <span class="scroll-down scroll-down--jump">
                                        <i class="icon icon-arrow-down">&nbsp;</i>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>



             </div>


            <a class="logo-block" href="https://instaxmini.ru/" target="_blank">
                 <img class="logo-block__img" src="img/svg/logo-mini.svg" alt="Instax mini liplay logo" width="220" height="121">

                 <span class="logo-block__scroll hide-md">
                    <span class="logo-block__scroll-icon js-next-page-slide">
                        <span class="scroll-down scroll-down--jump">
                            <i class="icon icon-arrow-down">&nbsp;</i>
                        </span>
                    </span>
                </span>
             </a>

            <span class="s-top__sasha">
                <picture class="s-top__sasha-img">
                    <source srcset="img/svg/sasha-on-photo.svg" media="(min-width: 992px)">
                    <img src="img/svg/sasha-on-photo-mob.svg" alt="Sasha Spilberg on photo">
                </picture>
            </span>

            <span class="s-top__sasha-mark">
                <img class="s-top__sasha-mark-img" src="img/svg/sasha-quality-mark.svg" alt="Instax mini Саша Спилберг одобряет">
            </span>


         </section>
    </div>

    <div class="section" id="cameras">
        <section class="s-cameras">
            <div class="s-cameras__inner section-anim-inner">
                <div class="s-cameras__inner-cnt">
                    <div class="container">
                        <div class="s-cameras__block">
                            <div class="s-cameras__block-img-wrap">
                                <picture class="s-cameras__block-img">
                                    <source srcset="img/sec-cameras-img.png 1x, img/sec-cameras-img.png 2x" media="(min-width: 768px)">
                                    <img src="img/sec-cameras-img-sm.png" srcset="img/sec-cameras-img-sm.png 1x, img/sec-cameras-img-sm.png 2x" alt="Polaroid instax mini liplay cameras">
                                </picture>
                            </div>

                            <div class="s-cameras__block-text text">
                                <p>LiPlay ― первая фотокамера Instax с функцией записи и печати звуковых посланий. <b>У
                                    фотокарточек появился голос!</b></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <span class="s-cameras__line-left">&nbsp;</span>
            <span class="s-cameras__line-left-bottom">&nbsp;</span>
            <span class="s-cameras__line-right">&nbsp;</span>

            <div class="go-to go-to--bottom go-to--s-cameras">
                <div class="go-to__inner">
                    <div class="go-to__btn">
                        <a class="btn-play" href="https://instaxmini.ru/camera/instax-mini-liplay/" target="_blank">
                             <span class="btn-play__icon">
                                 <svg class="icon icon-microphone" width="104" height="104">
                                    <use xlink:href="#icon-microphone"></use>
                                </svg>
                             </span>
                            <span class="btn-play__text">LiPlay me</span>
                        </a>
                    </div>
                </div>
            </div>

            <a class="logo-block logo-block--s-cameras" href="https://instaxmini.ru/" target="_blank">
                <img class="logo-block__img" src="img/svg/logo-mini.svg" alt="Instax mini liplay logo" width="220" height="121">

                <span class="logo-block__scroll">
                    <span class="logo-block__scroll-icon js-next-page-slide">
                        <span class="scroll-down">
                            <i class="icon icon-arrow-down">&nbsp;</i>
                        </span>
                    </span>
                </span>
            </a>
        </section>
    </div>

    <div class="section" id="answers">
        <section class="s-answers" data-stage="1">
            <div class="s-answers__inner section-anim-inner">
                <div class="s-answers__inner-cnt">
                    <div class="container">
                        <div class="s-answers__block">
                            <div class="s-answers__block-top">
                                <a class="s-answers__top-logo" href="https://instaxmini.ru/camera/instax-mini-liplay/" target="_blank">
                                    <img class="s-answers__top-logo-img" src="img/svg/logo.svg" alt="LiPlayMyVoice logo 1" width="650" height="150">
                                </a>

                                <div class="s-answers__top-text text">
                                    <p class="hide-sm">Мы задали 6 вопросов нашей аудитории, чтобы услышать представление молодых людей о самих себе, своем месте в настоящем и будущем, об образе будущего в целом и записали ответы на карточки Instax.<b>Мы опросили 180 человек и получили следующие результаты:</b></p>
                                    <p class="visible-sm"><b>Мы задали 6 вопросов нашей аудитории,</b> чтобы услышать представление молодых людей о самих себе, своем месте в настоящем и будущем. Используя камеру LiPlay записали аудио ответы на карточки INSTAX</p>
                                </div>
                            </div>

                            <div class="s-answers__block-main">
                                <div class="row flex-column flex-lg-row">
                                    <div class="col-lg-4 order-2 order-lg-1">
                                        <div class="s-answers__text-items">
                                            <div class="s-answers__text-item s-answers__text-item--1">
                                                <div class="s-answers__text-box">
                                                    <div class="s-answers__text-box-title">О себе и своих стремлениях</div>
                                                    <div class="s-answers__text-box-main text">
                                                        <p class="hide-sm">Креативность. К чему стремится наша аудитория профессионально? В связи со спецификой возраста, перед ними сейчас стоит выбор дальнейшего пути. Многие участники мероприятия говорили о том, что реализоваться в творческой профессии: например, стать актрисой, телеведущей, фотографом.</p>
                                                        <p class="visible-sm">Перед многими людьми в возрасте от 14 до 21 года стоит выбор дальнейшего пути. К чему они стремятся?</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="s-answers__text-item s-answers__text-item--2">
                                                <div class="s-answers__text-box">
                                                    <div class="s-answers__text-box-title">Об идеалах</div>
                                                    <div class="s-answers__text-box-main text">
                                                        <p class="hide-sm">Эмпатия и открытость. Когда мы задавали вопросы об «идеальном себе», мы поняли, что на самом деле новое поколение совсем не эгоистичное, как его считают. Эмпатия, высокие этические идеалы и открытость миру ― ответы нового поколения.</p>
                                                        <p class="visible-sm">Не правильно считать новое поколение эгоистичным. Эмпатия, высокие этические идеалы и открытость миру — вот ответы нового поколения. </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="s-answers__text-item s-answers__text-item--3">
                                                <div class="s-answers__text-box">
                                                    <div class="s-answers__text-box-title">О способностях и ответственности</div>
                                                    <div class="s-answers__text-box-main text">
                                                        <p class="hide-sm">Локальность, глобальность и индивидуальный вклад. Мы хотели узнать о способностях и степени ответственности, которую они на себе чувствуют. Ответы охватывают широкий спектр проблем от локального уровня (семья, близкие) до глобального (целая Земля, экология). Говорили о важности личного вклада каждого.</p>
                                                        <p class="visible-sm">Что может один человек? Какую ответственность чувствует на себе молодежь? Ответы нас вдохновляют. </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="s-answers__text-item s-answers__text-item--4">
                                                <div class="s-answers__text-box">
                                                    <div class="s-answers__text-box-title">О целях и готовности<br> их добиваться</div>
                                                    <div class="s-answers__text-box-main text">
                                                        <p class="hide-sm">Амбиции. Мы увидели, что наша аудитория хочет выходить за рамки того, что представляет общество. Многие говорили, что хотят быть необычными людьми. И снова ― все ставят перед собой большие цели, хотят добиться высот и даже успеха в своих областях.</p>
                                                        <p class="visible-sm">Мы узнали, что наша аудитория бросает вызовы самим себе, готова выходить за рамки своей зоны комфорта.</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="s-answers__text-item s-answers__text-item--5">
                                                <div class="s-answers__text-box">
                                                    <div class="s-answers__text-box-title">О ценностях</div>
                                                    <div class="s-answers__text-box-main text">
                                                        <p class="hide-sm">Близкий круг и самореализация. По мнению участников нашего фото-исследования, самое главное в жизни ― семья, близкие люди и самореализация.</p>
                                                        <p class="visible-sm">На первом месте — близкие люди и самореализация. </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="s-answers__text-item s-answers__text-item--6">
                                                <div class="s-answers__text-box">
                                                    <div class="s-answers__text-box-title">О будущем</div>
                                                    <div class="s-answers__text-box-main text">
                                                        <p>Технологии. Оптимизм. И готовность к кооперации во имя общих целей.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-4 order-3 order-lg-2">
                                        <div class="s-answers__circle-wrap">
                                            <div class="s-answers__circle">
                                                <div class="s-answers__circle-icon">
                                                    <svg class="icon icon-circle" width="315" height="315">
                                                        <use xlink:href="#icon-circle"></use>
                                                    </svg>
                                                </div>

                                                <div class="s-answers__circle-items">
                                                    <div class="s-answers__circle-item s-answers__circle-item--1">
                                                        <div class="s-answers__circle-text">
                                                            <div class="s-answers__circle-text-inner">Каким человеком ты хочешь быть?</div>
                                                        </div>
                                                    </div>

                                                    <div class="s-answers__circle-item s-answers__circle-item--2">
                                                        <div class="s-answers__circle-text">
                                                            <div class="s-answers__circle-text-inner">Каким  человеком ты хочешь, чтобы тебя считали?</div>
                                                        </div>
                                                    </div>

                                                    <div class="s-answers__circle-item s-answers__circle-item--3">
                                                        <div class="s-answers__circle-text">
                                                            <div class="s-answers__circle-text-inner">Как ты думаешь, что зависит от тебя?</div>
                                                        </div>
                                                    </div>

                                                    <div class="s-answers__circle-item s-answers__circle-item--4">
                                                        <div class="s-answers__circle-text">
                                                            <div class="s-answers__circle-text-inner">Чего ты хочешь добиться в жизни?</div>
                                                        </div>
                                                    </div>

                                                    <div class="s-answers__circle-item s-answers__circle-item--5">
                                                        <div class="s-answers__circle-text">
                                                            <div class="s-answers__circle-text-inner">Что самое главное в жизни?</div>
                                                        </div>
                                                    </div>

                                                    <div class="s-answers__circle-item s-answers__circle-item--6">
                                                        <div class="s-answers__circle-text">
                                                            <div class="s-answers__circle-text-inner">Что нас ждёт в будущем?</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <span class="s-answers__circle-scroll visible-md">
                                                    <span class="s-answers__circle-scroll-icon js-next-page-slide">
                                                        <span class="scroll-down">
                                                            <i class="icon icon-arrow-down">&nbsp;</i>
                                                        </span>
                                                    </span>
                                                </span>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 order-1 order-lg-3">
                                        <div class="s-answers__people">
                                            <div class="s-answers__people-item  s-answers__people-item--1">
                                                <div class="s-answers__cards" data-stage="1">
                                                    <div class="s-answers__card s-answers__card--1" data-index="1_1">
                                                        <img class="s-answers__card-img" src="img/answers/1_1.jpg" alt="Ольга Львова" width="225" height="300">
                                                        <span class="s-answers__card-play-icon">
                                                            <svg class="icon icon-music" width="84" height="84">
                                                                <use xlink:href="#icon-music"></use>
                                                            </svg>
                                                        </span>
                                                    </div>

                                                    <div class="s-answers__card s-answers__card--2" data-index="1_2">
                                                        <img class="s-answers__card-img" src="img/answers/1_2.jpg" alt="Севрюкова Полина" width="225" height="300">
                                                        <span class="s-answers__card-play-icon">
                                                            <svg class="icon icon-music" width="84" height="84">
                                                                <use xlink:href="#icon-music"></use>
                                                            </svg>
                                                        </span>
                                                    </div>

                                                    <div class="s-answers__card s-answers__card--3" data-index="1_3">
                                                        <img class="s-answers__card-img" src="img/answers/1_3.jpg" alt="Анастасия Косарева" width="225" height="300">
                                                        <span class="s-answers__card-play-icon">
                                                            <svg class="icon icon-music" width="84" height="84">
                                                                <use xlink:href="#icon-music"></use>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="s-answers__people-item s-answers__people-item--2">
                                                <div class="s-answers__cards" data-stage="1">
                                                    <div class="s-answers__card s-answers__card--1" data-index="2_1">
                                                        <img class="s-answers__card-img" src="img/answers/2_1.jpg" alt="Олеся Редькина" width="225" height="300">
                                                         <span class="s-answers__card-play-icon">
                                                            <svg class="icon icon-music" width="84" height="84">
                                                                <use xlink:href="#icon-music"></use>
                                                            </svg>
                                                        </span>
                                                    </div>

                                                    <div class="s-answers__card s-answers__card--2" data-index="2_2" data-person="sasha">
                                                        <img class="s-answers__card-img" src="img/answers/2_2.jpg" alt="Саша Спилберг" width="225" height="300">
                                                         <span class="s-answers__card-play-icon">
                                                            <svg class="icon icon-music" width="84" height="84">
                                                                <use xlink:href="#icon-music"></use>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="s-answers__people-item s-answers__people-item--3">
                                                <div class="s-answers__cards" data-stage="1">
                                                    <div class="s-answers__card s-answers__card--1" data-index="3_1">
                                                        <img class="s-answers__card-img" src="img/answers/3_1.jpg" alt="Таисия Шифельман" width="225" height="300">
                                                        <span class="s-answers__card-play-icon">
                                                            <svg class="icon icon-music" width="84" height="84">
                                                                <use xlink:href="#icon-music"></use>
                                                            </svg>
                                                        </span>
                                                    </div>

                                                    <div class="s-answers__card s-answers__card--2" data-index="3_2" data-person="sasha">
                                                        <img class="s-answers__card-img" src="img/answers/3_2.jpg" alt="Саша Спилберг" width="225" height="300">
                                                        <span class="s-answers__card-play-icon">
                                                            <svg class="icon icon-music" width="84" height="84">
                                                                <use xlink:href="#icon-music"></use>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="s-answers__people-item s-answers__people-item--4">
                                                <div class="s-answers__cards" data-stage="1">
                                                    <div class="s-answers__card s-answers__card--1" data-index="4_1">
                                                        <img class="s-answers__card-img" src="img/answers/4_1.jpg" alt="Ольга Григорьева" width="225" height="300">
                                                        <span class="s-answers__card-play-icon">
                                                            <svg class="icon icon-music" width="84" height="84">
                                                                <use xlink:href="#icon-music"></use>
                                                            </svg>
                                                        </span>
                                                    </div>

                                                    <div class="s-answers__card s-answers__card--2" data-index="4_2" data-person="sasha">
                                                        <img class="s-answers__card-img" src="img/answers/4_2.jpg" alt="Саша Спилберг 2" width="225" height="300">
                                                        <span class="s-answers__card-play-icon">
                                                            <svg class="icon icon-music" width="84" height="84">
                                                                <use xlink:href="#icon-music"></use>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="s-answers__people-item s-answers__people-item--5">
                                                <div class="s-answers__cards" data-stage="1">
                                                    <div class="s-answers__card s-answers__card--1" data-index="5_1">
                                                        <img class="s-answers__card-img" src="img/answers/5_1.jpg" alt="Вероника Аксенова" width="225" height="300">
                                                        <span class="s-answers__card-play-icon">
                                                            <svg class="icon icon-music" width="84" height="84">
                                                                <use xlink:href="#icon-music"></use>
                                                            </svg>
                                                        </span>
                                                    </div>

                                                    <div class="s-answers__card s-answers__card--2" data-index="5_2" data-person="sasha">
                                                        <img class="s-answers__card-img" src="img/answers/5_2.jpg" alt="Саша Спилберг 3" width="225" height="300">
                                                        <span class="s-answers__card-play-icon">
                                                            <svg class="icon icon-music" width="84" height="84">
                                                                <use xlink:href="#icon-music"></use>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="s-answers__people-item s-answers__people-item--6">
                                                <div class="s-answers__cards" data-stage="1">
                                                    <div class="s-answers__card s-answers__card--1" data-index="6_1" data-person="sasha">
                                                        <img class="s-answers__card-img" src="img/answers/6_1.jpg" alt="Саша Спилберг 4" width="225" height="300">
                                                        <span class="s-answers__card-play-icon">
                                                            <svg class="icon icon-music" width="84" height="84">
                                                                <use xlink:href="#icon-music"></use>
                                                            </svg>
                                                        </span>
                                                    </div>

                                                    <div class="s-answers__card s-answers__card--2" data-index="6_2">
                                                        <img class="s-answers__card-img" src="img/answers/6_2.jpg" alt="Татьяна Конькова" width="225" height="300">
                                                        <span class="s-answers__card-play-icon">
                                                            <svg class="icon icon-music" width="84" height="84">
                                                                <use xlink:href="#icon-music"></use>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <span class="s-answers__line-left">&nbsp;</span>
            <span class="s-answers__line-right">&nbsp;</span>

            <div class="go-to go-to--bottom go-to--s-answers">
                <div class="go-to__inner">
                    <div class="go-to__btn">
                        <!-- <a class="btn-play js-answers-popup-trigger-btn" href="https://instaxmini.ru/camera/instax-mini-liplay/" data-index="1_1">-->
                        <a class="btn-play" href="https://instaxmini.ru/camera/instax-mini-liplay/" target="_blank">
                             <span class="btn-play__icon">
                                 <svg class="icon icon-microphone" width="104" height="104">
                                    <use xlink:href="#icon-microphone"></use>
                                </svg>
                             </span>
                            <span class="btn-play__text">LiPlay me</span>
                        </a>
                    </div>
                </div>
            </div>

            <a class="logo-block logo-block--s-answers" href="https://instaxmini.ru/" target="_blank">
                <img class="logo-block__img" src="img/svg/logo-mini.svg" alt="Instax mini liplay logo" width="220" height="121">

                <span class="logo-block__scroll hide-md">
                    <span class="logo-block__scroll-icon js-next-page-slide">
                        <span class="scroll-down">
                            <i class="icon icon-arrow-down">&nbsp;</i>
                        </span>
                    </span>
                </span>
            </a>
        </section>
    </div>

    <div class="section" id="instagram">
        <section class="s-inst">
            <div class="s-inst__inner section-anim-inner">
                <div class="s-inst__inner-cnt">
                    <div class="container">
                        <div class="s-inst__block">
                            <div class="s-inst__block-top">
                                <a class="s-inst__top-logo" href="https://instaxmini.ru/camera/instax-mini-liplay/" target="_blank">
                                    <img class="s-inst__top-logo-img" src="img/svg/logo.svg" alt="LiPlayMyVoice logo 2" width="880" height="202">
                                </a>
                            </div>

                            <div class="s-inst__block-main js-goto-link" data-url="https://www.instagram.com/instaxminiru/">
                                <div class="s-inst__images">
                                    <!-- inwidget/skins/default.css -->

                                    <iframe class="s-inst__images-frame" src="" data-src="/inwidget/index.php?adaptive=true&toolbar=false&inline=3&view=9" data-inwidget scrolling='no' frameborder='no'></iframe>
                                </div>
                            </div>

                            <div class="s-inst__block-bottom">
                                <a class="btn-inst js-inst-link" href="https://www.instagram.com/instaxminiru/" target="_blank">
                                     <span class="btn-inst__icon">
                                         <svg class="icon icon-heart" width="104" height="104">
                                            <use xlink:href="#icon-heart"></use>
                                        </svg>
                                     </span>
                                    <span class="btn-inst__text">Подпишись<br>на Instax</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="container">
                    <div class="row footer__row">
                        <div class="col-md-2">
                            <a class="footer__logo" href="https://instaxmini.ru/" target="_blank">
                                <img class="footer__logo-img" src="img/svg/footer-logo.svg" alt="instax logo" width="220" height="74">
                            </a>
                        </div>
                        <div class="col-md-8 footer__col-copy">
                            <p class="footer__copy">© INSTAX FUJIFILM. Все права защищены.<br> Полное или частичное копирование материалов сайта без согласования с редакцией запрещено.</p>
                        </div>
                    </div>
                </div>

                <span class="footer__line-left">&nbsp;</span>
                <span class="footer__line-right">&nbsp;</span>
            </footer>


        </section>
    </div>
</div>

<div class="warning-rotate">
    <div class="warning-rotate__inner">
        <div class="warning-rotate__text">Для нормального отображения поверните экран вертикально</div>
    </div>
</div>


//= templates/footer.html
