
//= templates/header-inner.html

<div class="container">

    <svg class="icon icon-microphone" width="104" height="104">
        <use xlink:href="#icon-microphone"></use>
    </svg>
    <svg class="icon icon-heart" width="104" height="104">
        <use xlink:href="#icon-heart"></use>
    </svg>

    <svg class="icon icon-close" width="32" height="32">
        <use xlink:href="#icon-close"></use>
    </svg>

    <svg class="icon icon-music" width="84" height="84">
        <use xlink:href="#icon-music"></use>
    </svg>

    <svg class="icon icon-scroll" width="28" height="42">
        <use xlink:href="#icon-scroll"></use>
    </svg>

    <i class="icon icon-arrow-down">&nbsp;</i>







    <a class="btn-play" href="#">
         <span class="btn-play__icon">
             <svg class="icon icon-microphone" width="104" height="104">
                <use xlink:href="#icon-microphone"></use>
            </svg>
         </span>
        <span class="btn-play__text">LiPlay me</span>
    </a>



    <br>
    <br>
    <div style="padding: 20px;  background: #fff;">


        <a class="btn-inst" href="#">
             <span class="btn-inst__icon">
                 <svg class="icon icon-heart" width="104" height="104">
                    <use xlink:href="#icon-heart"></use>
                </svg>
             </span>
            <span class="btn-inst__text">Подпишись<br>на Instax</span>
        </a>

        <a class="btn-inst js-popup-person-open-btn" href="#"  data-src="#popup-person">
             <span class="btn-inst__icon">
                 <svg class="icon icon-heart" width="104" height="104">
                    <use xlink:href="#icon-heart"></use>
                </svg>
             </span>
            <span class="btn-inst__text">Попап<br>явись!</span>
        </a>





    </div>

</div>


//= templates/footer.html
